/* GLOBAL */
/* :root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-content: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
} */
/* 

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
} */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
